@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

:root {
    background-color: dimgray;
    color: aliceblue
}

body {
    background: #f5f6f7;
    color: #1b1b32;
    font-family: Helvetica;
    margin: 0;
}

header {
    width: 100%;
    height: 70px;
    background-color: #113321;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 10;
}

nav {
    margin: 0 auto;
    width: 50%;
    max-width: 500px;
    height: 70px;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
}

nav>ul>li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
    font-size: calc(1rem * (1 / 1vw));
    transition: all 0.15s ease-in-out 0s;
}

nav>ul>li:hover {
    border-bottom: solid #dfdfe2;
    cursor: pointer;
}

li>a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 70px;
    padding-left: 15px;
}

.title>* {
    text-align: center;
    margin: 5px auto;
}

h1 {
    color: #2a150d;
    text-align: center;
    padding-top: 50px;
}

h1,
h2 {
    font-family: Verdana, Tahoma;
}

section {
    width: 80%;
    margin: 0 auto 10px auto;
    max-width: 600px;
}

h2 {
    border-bottom: 4px solid #dfdfe2;
    margin-top: 0px;
    padding-top: 70px;
}

p {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 20px;
}

main li:first-of-type {
    margin-top: -10px;
}

main li {
    margin-top: 10px;
    font-size: large;
}

.extra-info {
    text-decoration: solid underline #113321;
    color: #634806;
}

.socials {
    padding-bottom: 10px;
}

.socials>ul {
    display: flex;
    align-content: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
}

.socials>ul>li {
    margin-top: 10px;
}

.socials>picture {
    max-height: 50px;
    max-width: 75px;
}

.goto-top-button {
    text-align: right;
    padding: 15px;
}

.goto-top-button>a {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease-in-out 0s;
}

.goto-top-button>a:hover {
    border-bottom: solid #1b1b32;
    cursor: pointer;
}